In [1]:
import pandas as pd

#### Reading csv into pandas

In [4]:
pdf = pd.read_csv("../../data.csv")

In [5]:
pdf.head()

     A    B      C
0  1.0  1.0   2.00
1  0.5  1.5  12.30
2  0.0  3.0   0.01

#### Add column based on another column

In [6]:
pdf['D'] = pdf.apply(lambda row: row.A + row.B, axis=1)

In [7]:
pdf.head()

     A    B      C    D
0  1.0  1.0   2.00  2.0
1  0.5  1.5  12.30  2.0
2  0.0  3.0   0.01  3.0

#### Create an empty dataframe and add columns to it

In [8]:
new_df = pd.DataFrame(columns = ['A', 'B'])

In [ ]:
new_df.loc[len(new_df)] = ['logreg', logreg_roc_auc]